* {
    box-sizing: border-box;
}
.body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .slider-text h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .slider-text p {
        font-size: 20px;
        line-height: 35px;
    }
    .menu {
        justify-content: flex-start;
        overflow: scroll;
    }
    .big-transparent-text {
        bottom: 15px;
        left: 30px;
        max-width: 100%;
        font-size: 80px;
    }
    .big-picture-image img, .small-picture-image img {
        max-width: 100%;
        margin-left: -24px;
    }
    .big-picture-text {
        padding-top: 15px;
    }
    .big-picture-text, .small-picture-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #252324;
        line-height: 26px;
    }
    .big-picture-text p, .small-picture-text p {
        padding-bottom: 15px;
    }
    .about-us-text-about {
        bottom: 160px;
        left: 300px;
        max-width: 100%;
        font-size: 90px;
    }
    .portfolio-body {
        margin-left: -12px;
        margin-right: 6px;
    }
    .arrow-left {
        display: none;
    }
    .arrow-right {
        display: none;
    }
    .portfolio-text-portfolio {
        bottom: 70px;
        left: 155px;
        max-width: 100%;
        font-size: 90px;
    }
    .appointment-body-form {
        max-width: 50%;
        padding-right: 60px;
    }
    .form-fields input {
        margin-bottom: 39px;
    }
    .appointment-text-appointment {
        bottom: 10px;
        left: 300px;
        max-width: 100%;
        font-size: 48px;
    }
    .footer-info {
        flex-wrap: wrap;
    }
    .footer-info > div {
        min-height: 180px;
        margin-top: 90px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .menu {
        justify-content: flex-end;
    }
    .slider-text h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .slider-text p {
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
    }
    .big-transparent-text {
        bottom: 25px;
        left: 30px;
        max-width: 100%;
        font-size: 110px;
        letter-spacing: 0.08em;
    }
    .big-picture:after, .small-picture:after {
        content: "";
        clear: both;
        display: block;
    }
    .big-picture-image {
        float: left;
        width: 45%;
        margin-left: 4px;
        margin-right: 15px;
    }
    .big-picture-image img, .small-picture-image img {
        max-width: 100%;
        margin-left: -24px;
    }
    .big-picture-text {
        padding-top: 15px;
    }
    .big-picture-text, .small-picture-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #252324;
        line-height: 28px;
    }
    .big-picture-text p, .small-picture-text p {
        padding-bottom: 15px;
    }
    .small-picture {
        position: absolute;
        bottom: 10px;
        left: 200px;
    }
    .small-picture-image {
        float: left;
        width: 65%;
        margin-right: -35px;
    }
    .small-picture-image img {
        width: 88%;
        background-color: #ffffff;
    }
    .small-picture-text p {
        width: 110%;
    }
    .about-us-text-about {
        bottom: 30px;
        left: 420px;
        font-size: 110px;
        max-width: 100%;
    }
    .portfolio-body {
        margin-left: -20px;
        margin-right: 20px;
    }
    .arrow-left {
        display: block;
        top: 125px;
        left: -30px;
    }
    .arrow-right {
        display: block;
        top: 125px;
        right: -30px;
    }
    .portfolio-text-portfolio {
        bottom: 70px;
        left: 200px;
        max-width: 100%;
        font-size: 120px;
    }
    .appointment-body-form {
        max-width: 50%;
        padding-right: 60px;
    }
    .form-fields input {
        margin-bottom: 50px;
    }
    .appointment-text-appointment {
        bottom: -5px;
        left: 145px;
        max-width: 100%;
        font-size: 90px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .menu {
        justify-content: flex-end;
    }
    .slider-text h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .slider-text p {
        font-size: 20px;
        line-height: 35px;
    }
    .big-transparent-text {
        bottom: 10px;
        left: 30px;
        letter-spacing: 0.09em;
        max-width: 100%;
        font-size: 140px;
        line-height: 183px;
    }
    .big-picture:after, .small-picture:after {
        content: "";
        clear: both;
        display: block;
    }
    .big-picture-image {
        float: left;
        width: 45%;
        margin-left: 0px;
        margin-right: 70px;
    }
    .big-picture-text {
        padding-top: 15px;
    }
    .big-picture-text, .small-picture-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #252324;
        line-height: 32px;
    }
    .big-picture-text p, .small-picture-text p {
        padding-bottom: 15px;
    }
    .small-picture {
        position: absolute;
        bottom: 15px;
        left: 300px;
    }
    .small-picture-image {
        float: left;
        width: 65%;
        background-color: #ffffff;
        margin-right: -35px;
    }
    .small-picture-image img {
        width: 88%;
    }
    .small-picture-text p {
        width: 105%;
    }
    .about-us-text-about {
        bottom: 35px;
        left: 570px;
        width: 50%;
        font-size: 150px;
        line-height: 183px;
    }
    .portfolio-body {
        margin-left: -20px;
        margin-right: 20px;
    }
    .arrow-left {
        display: block;
        top: 145px;
        left: -35px;
    }
    .arrow-right {
        display: block;
        top: 145px;
        right: -35px;
    }
    .portfolio-text-portfolio {
        bottom: 60px;
        left: 245px;
        max-width: 100%;
        font-size: 150px;
        line-height: 160px;
    }
    .blog-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .appointment-body-form {
        max-width: 50%;
        padding-right: 150px;
    }
    .form-fields input {
        margin-bottom: 50px;
    }
    .appointment-text-appointment {
        bottom: 5px;
        left: 80px;
        max-width: 100%;
        font-size: 120px;
        line-height: 150px;
    }
}

@media(max-width:767px) {
    .header-row {
        flex-wrap: wrap;
    }
    .logo {
        height: 50px;
        line-height: 50px;
        padding-top: 10px;
    }
    .menu-mobile-burger {
        width: 20px;
        height: 20px;
        position: relative;
        top: 25px;
        left: 40px;
    }
    .menu-mobile-burger span {
        height: 2px;
        background-color: #252324;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .menu-mobile-burger span:nth-child(1) {
        top: 3px;
    }
    .menu-mobile-burger span:nth-child(2) {
        top: 9px;
    }
    .menu-mobile-burger span:nth-child(3) {
        bottom: 3px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        max-height: 360px;
        transform: translateX(150%);
        transition: transform 500ms ease-in-out;
    }
    .burger-lines-right-side {
        display: flex;
        justify-content: flex-end;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .menu-mobile-burger.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 25px;
        background-color: #FAF9F8;
        top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #252324;
        border-radius: 5px;
        padding-top: 40px;
    }
    .navigation.active-menu > .submenu {
        text-align: center;
        margin: 0 0 25px;
    }
    .col-xs-hidden {
        display: none;
    }
    .slider-text {
    top: 150px;
    }
    .slider-text h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .slider-text p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .big-transparent-text {
        bottom: 90px;
        left: 20px;
        max-width: 100%;
        font-size: 40px;
        letter-spacing: 0.07em;
    }
    .big-picture-image img, .small-picture-image img {
        max-width: 100%;
        margin-left: -14px;
    }
    .big-picture-text {
        padding-top: 15px;
    }
    .big-picture-text, .small-picture-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #252324;
        line-height: 26px;
    }
    .big-picture-text p, .small-picture-text p {
        padding-bottom: 15px;
    }
    .about-us-text-about {
        bottom: 250px;
        right: 0;
        max-width: 100%;
        font-size: 50px;
    }
    .services-body, .portfolio-body-pictures, .blog-body-items, .appointment-body {
        flex-direction: column;
        align-items: center;
    }
    .service-item {
        margin-bottom: 35px;
    }
    .arrow-left {
        display: none;
    }
    .arrow-right {
        display: none;
    }
    .portfolio-text-portfolio {
        bottom: 110px;
        right: -5px;
        max-width: 100%;
        font-size: 50px;
    }
    .appointment-body-form {
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 120px;
    }
    .form-fields input {
        margin-bottom: 50px;
    }
    .appointment-text-appointment {
        bottom: 10px;
        left: 10px;
        max-width: 100%;
        font-size: 33px;
    }
    .footer-info {
        flex-direction: column;
    }
    .footer-info > div {
        min-height: 180px;
        margin-top: 90px;
        margin-left: 30px;
    }
}



/* Header */

.header {
    background-color: #FAF9F8;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    height: fit-content;
    width: 100%;
    line-height: 80px;
}
.header-row {
    display: flex;
    width: 100%;
    height: 75px;
}
.logo {
    margin-top: 5px;
}
.menu {
    display: flex;
    margin-right: 12px;
    overflow: auto;
    margin-top: 27px;
}
.submenu {
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    font-weight: 400;
    color: #252324;
    margin-left: 44px;
    min-width: fit-content;
}
.submenu:hover, .footer-navigate-menu div:hover {
    border-bottom: 2px solid #CB9274;
    transform: rotate(0.28deg);
}
.select-langauge {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #252324;
    line-height: 22px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url(images/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: 25px -2px;
    width: 50px;
}
.select-langauge-right-side {
    text-align: right;
}



/* Main */

/* Slider */

.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before {
    display: none;
}
.slick-dots {
    bottom: 30px;
    text-align: right;
    padding-right: 55px;
}
.slider {
    position: relative;
    height: 850px;
}
.slider-text {
    position: absolute;
    top: 210px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.slider-text h2 {
    color: #252324;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
}
.slider-text p {
    font-weight: 500;
    color: #252324;
    margin-bottom: 40px;
    letter-spacing: 0.03em;
}
.slider-text button, .portfolio-body button, .blog-body button, .appointment-body-form button {
    height: 50px;
    background-color: #CB9274;
    border: 2px solid #CB9274;
    border-radius: 2px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-variant: small-caps;
}
.slider-text button, .appointment-body-form button {
    width: 190px;
}
.slider-text button:hover, .portfolio-body button:hover, .blog-body button:hover, .appointment-body-form button:hover {
    background-color: #FFFFFF;
    color: #CB9274;
}
.big-transparent-text, .about-us-text-about, .portfolio-text-portfolio, .appointment-text-appointment {
    display: block;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.big-transparent-text {
    -webkit-text-stroke-color: #CB9274;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
}



/* About us */

.about-us, .services, .portfolio, .blog, .appointment {
    margin-top: 150px;
}
.about-us-head, .services-head, .portfolio-head, .blog-head, .appointment-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #252324;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}
.about-us-head p, .services-head p, .portfolio-head p, .blog-head p, .appointment-head p {
    max-width: 560px;
    font-variant: small-caps;
}
.about-us-head p:hover, .services-head p:hover, .portfolio-head p:hover, .blog-head p:hover, .appointment-head p:hover {
    border-bottom: 2px solid #CB9274;
    transform: rotate(0.28deg);
}
.about-us-head h3, .services-head h3, .portfolio-head h3, .blog-head h3, .appointment-head h3 {
    max-width: 560px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.09em;
}
.about-us-head h3:hover, .services-head h3:hover, .portfolio-head h3:hover, .blog-head h3:hover, .appointment-head h3:hover {
    border-top: 2px solid #CB9274;
    transform: rotate(0.28deg);
}
.about-us, .portfolio-body, .portfolio, .appointment {
    position: relative;
}
.about-us-text-about {
    letter-spacing: 0.09em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(244, 243, 241, 0.4);
}



/* Services */

.services-body, .blog-body-items {
    display: flex;
    justify-content: space-around;
    padding-right: 15px;
}
.service-item, .blog-item {
    padding: 40px 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(168, 168, 168, 0.2);
}
.service-item > img, .blog-item > img {
    width: 100%;
    padding-bottom: 20px;
}
.service-item > div > h4, .blog-item > div > h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #252324;
}
.service-item > div > h4 {
    font-size: 27px;
    line-height: 43px;
    padding-bottom: 20px;
    text-align: center;
}



/* Portfolio */

.portfolio-body-pictures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.all-pictures img {
    width: 100%;
}
.portfolio-body-picture1 img {
    max-height: 400px;
}
.portfolio-body-picture2 img {
    max-height: 525px;
}
.portfolio-body-picture3 img {
    max-height: 400px;
}
.arrow-left, .arrow-right {
    position: absolute;
}
.portfolio-body button {
    width: 250px;
    display: block;
    margin: 0 auto;
}
.portfolio-text-portfolio, .appointment-text-appointment {
    letter-spacing: 0.09em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(244, 243, 241, 0.6);
}



/* Blog */

.blog-body-items {
    margin-bottom: 55px;
}
/* The feature below is made following the design-project for the web-version, but it doesn't look nice in an adaptive versions. */
/* .blog-item:last-child > div > h5 {
    padding: 20px 0 20px;
} */
.blog-item > div {
    min-height: 115px;
    margin-bottom: 30px;
}
.blog-item > div > h5 {
    font-size: 26px;
    line-height: 42px;
}
.blog-item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #252324;
    margin-bottom: 30px;
}
.blog-body button {
    width: 225px;
    display: block;
    margin: 0 auto;
}


/* Appointment */

.appointment-body {
    display: flex;
    justify-content: space-between;
}
.appointment-body-form {
    width: 95%;
    max-height: 485px;
    padding-top: 20px;
}
.form-fields {
    display: flex;
    flex-direction: column;
}
.form-fields input {
    border: none;
    border-bottom: 2px solid #D4D2D7;
    outline: none;
    text-indent: 35px;
    padding-bottom: 10px;
}
.form-fields input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.appointment-picture {
    max-height: fit-content;
}
.appointment-picture img {
    max-width: 100%;
}
.appointment-body-form button {
    float: right;
}



/* Footer */

.footer {
    background-color: #FAF9F8;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 60px 25px 80px 0;
}
.footer-logo-and-subscribe, .footer-language-and-follow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-subscribe h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #252324;
    padding-bottom: 15px;
}
.footer-subscribe input {
    border: none;
    border-bottom: 2px solid rgba(74, 73, 73, 0.5);
    outline: none;
    text-indent: -1px;
    padding-bottom: 10px;
    min-width: 230px;
    background-image: url(images/footer_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right -3px;
}
.footer-subscribe input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #4A4949;
}
.footer-navigate-head, .footer-navigate-menu, .footer-showrooms-head, .footer-showrooms-locations p, .footer-contacts h6, .footer-contacts p, .footer-language h6, .follow-us-on {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;
}
.footer-navigate-head, .footer-showrooms-head, .footer-contacts h6, .footer-language h6, .follow-us-on {
    font-weight: 500;
    color: #252324;
    padding-bottom: 15px;
}
.footer-navigate-menu div {
    padding-top: 12px;
}
.footer-navigate-menu div a, .footer-showrooms-locations p, .footer-contacts p {
    text-decoration: none;
    font-weight: 400;
    color: #4A4949;
}
.location {
    display: flex;
    padding-bottom: 25px;
}
.location-pin {
    padding: 15px 15px 0 0;
}
.footer-contacts {
    padding-top: 5px;
}
.select-footer-langauge {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #252324;
    line-height: 29px;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
    appearance: none;
    background-image: url(images/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: right 3px;
    width: 102px;
}
.follow-us-on-icons a {
    text-decoration: none;
    padding-right: 30px;
}